.main-content-input-task {
  display: flex;
  align-items: center;
}

.main-content-form {
  align-items: center;
  display: flex;
  margin: auto;
}

.main-content-form button{
  background-color: rgb(208, 216, 216);
  border: none;
  border-radius: 0 10px 10px 0px;
  color: azure;
  font-weight: 700;
  padding: 0.9em;
  transition: 0.2s;
}

.create-task-input input[type="text"] {
  background-color: rgb(208, 216, 216);
  border-radius: 10px 0px 0px 10px;
  border: none;
  outline: 0;
  width: 30vw;
}

.create-task-input input {
  height: 2em;
  padding: 0.5em;
};
