.main-content-form {
  align-items: center;
  display: flex;
  margin: auto;
  width: 50vw;
}

.create-task-input {
  flex-grow: 1;
}

.create-task-input input {
  background-color: rgb(208, 216, 216);
  border: none;
  border-radius: 10px;
  height: 2em;
  padding: 0.5em;
  width: 100%;
};

.create-button-label {
  padding: 1em;
}
