.box-edit-status {
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 20em;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0;
  text-align: center;
  width: 20em;
  margin-top: 20vh;
}

.title-edit-status {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.buttons-edit-status {
  /* background-color: rgb(50, 129, 199); */
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.buttons-edit-status button{
  border: 0;
  border-radius: 10px;
  width: 12em;
  outline: 0;
  margin: 0.5em;
  padding: 1.2em;
  text-align: center;
}