.main-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-tasks-box {
  background-color: #ffffff05;
  box-shadow: 4px 5px 13px 1px rgba(0, 0, 0, 0.021);
  border-radius: 10px;
  padding: 1.5em;
  width: 50vw;
}

.task-title-box {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
  width: 55vw;
}

.task-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 100%;
}

.task-content-box {
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.task-content-box-static {
  align-items: center;
  background-color: #a6a6a6;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0.5em;
}

.task-section {
  padding: 0.8em;
}

.task-status-button {
  max-width: 100px;
  flex-grow: 1;
  border-radius: 10px;
  padding: 0.8em;
}

.progress {
  background-color: rgba(241, 218, 7, 0.705);
}

.done {
  background-color: rgba(81, 241, 7, 0.685);
}

.pending {
  background-color: rgba(241, 7, 7, 0.753);
}

