@media screen and (max-width: 600px) {
  .main-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input-text-bar {
    border-radius: 10px;
    border: none;
    background-color: rgb(255 255 255 / 89%);
    font-size: 1em;
    padding: 1.5em 0;
    text-indent: 2em;
    margin-top: 2em;
    outline: 0;
    transition: 0.2s;
    width: 70vw;
  }

  .input-text-bar:hover {
    border-radius: 10px;
    border: none;
    background-color: rgb(255 255 255 / 54.1%);
    padding: 1.5em 0;
    text-indent: 2em;
    width: 70vw;
    outline: 0;
    transition: 0.2s;
  }

  .enter-button {
    background-color: rgb(252 252 252 / 10.3%);
    border-radius: 5px;
    border: none;
    color: rgb(77 77 77);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    transition: 0.2s;
    width: 50vw;
  }

  .enter-button:hover {
    color: rgb(31 31 31);
    background-color: rgb(252 252 252 / 21.9%);
    border-radius: 10px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    transition: 0.2s;
    width: 10vw;
  }
}

@media screen and (min-width: 600px) {
  .main-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
  }

  .input-text-bar {
    border-radius: 10px;
    border: none;
    background-color: rgb(255 255 255 / 39%);
    font-size: 1em;
    padding: 1.5em;
    text-indent: 2em;
    width: 30vw;
    outline: 0;
    transition: 0.2s;
  }

  .input-text-bar:hover {
    border-radius: 10px;
    border: none;
    background-color: rgb(255 255 255 / 54.1%);
    padding: 1.5em;
    text-indent: 2em;
    width: 30vw;
    outline: 0;
    transition: 0.2s;
  }

  .enter-button {
    background-color: rgb(252 252 252 / 10.3%);
    border-radius: 10px;
    border: none;
    color: rgb(77 77 77);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    transition: 0.2s;
    width: 10vw;
  }

  .enter-button:hover {
    color: rgb(31 31 31);
    background-color: rgb(252 252 252 / 21.9%);
    border-radius: 10px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    transition: 0.2s;
    width: 10vw;
  }
}
