@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@media screen and (max-width: 500px) {
  .main-home {
    align-items: center;
    background-color: #7d8aab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
  }

  .logo-page {
    margin: auto;
    margin-top: 15vh;
  }

  .main-image img {
    width: 50vw;
  }

  .input-name {
    /* border: 1px solid black; */
    width: 100vw;
    height: 100%;
  }

  .footer {
    font-size: 4vw;
    width: 100vw;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main-home {
    background-color: #7d8aab;
    min-height: 100vh;
    width: 100vw;
  }

  .main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title-page {
    margin: auto;
    margin-top: 15em;
    text-align: center;
  }

  .main-title {
    font-family: Monoton, cursive;
    font-size: 5em;
    color: white;
  }
}

@media screen and (min-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main-home {
    margin: 0;
    background-color: #7d8aab;
    height: 100vh;
    width: 100vw;
  }

  .main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title-page {
    margin: auto;
    margin-top: 15em;
    text-align: center;
  }

  .main-title {
    font-family: Monoton, cursive;
    font-size: 10em;
    color: white;
  }
}
