@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');.main-home {
  background-color: #7d8aab;
  height: 100vh;
  width: 100vw;
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-page {
  margin: auto;
  margin-top: 15em;
  text-align: center;
}

.main-title {
  font-family: 'Shizuru', cursive;
  font-size: 10em;
  color: white;
}
