@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.main-home {
  align-items: center;
  background-color: #7d8aab;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 600px) {
  .logo-page {
    margin: auto;
    margin-top: 15vh;
  }

  .main-image img {
    width: 50vw;
  }

  .input-name {
    width: 100vw;
    height: 100%;
    margin-top: 10vh;
  }

  .footer {
    font-size: 4vw;
    width: 100vw;
  }
}

@media screen and (max-height: 600px) {
  .input-name {
    margin-top: 1vh;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .logo-page {
    margin: auto;
    margin-top: 10vh;
  }

  .main-image img {
    width: 50vw;
  }

  .input-name {
    width: 100%;
    height: 20vh;
    margin-bottom: 5em;
  }

  .footer {
    font-size: 3vw;
    width: 100vw;
  }
}

@media screen and (min-width: 1000px) {
  .logo-page {
    margin: auto;
    margin-top: 10vh;
  }

  .main-image img {
    width: 10vw;
  }

  .input-name {
    width: 100%;
    height: 50vh;
  }

  .footer {
    font-size: 1vw;
    width: 100vw;
  }
}
