.footer-content {
  bottom: 0;
  height: 5em;
  position: absolute;
  width: 100vw;
}

.footer-text {
  align-items: center;
  color: rgb(245 245 245 / 61.6%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
