.footer-content {
  height: 5em;
  width: 100%;
}

.footer-text {
  align-items: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
