@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.google.com/icons?selected=Material%20Icons%20Round%3Aadd%3A");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap") ;

:root {
  --bg-color: #121212;
  --bg-color-2: #181818;
  --bg-color-edit: #2b2b2be5;
  --box-shadow-color: #0202022a;
  --button-pending: #ff0000;
  --button-pending-2: #8c0a0a;
  --button-done: #64ee07;
  --button-done-2: #64ee07;
  --button-progress: #ff5900;
  --button-progress-2: #fd6b10;
  --card-color: #232323;
  --card-color-2: #262626;
  --color-highlight: #f58220;
  --main-home-color: #7d8aab;
  --input-color: #dedcdc;
  --input-text-color: #242424;
  --popup-color: #181818;
  --popup-color-2: #242323;
  --text-color: #e6e6e6;
  --text-color-2: #e6e6e6;
  --text-color-highlight: #f58220;
  --text-color-blue: #43b7ffbd;
  --text-button-color: #e6e6e6;
}

.light-theme {
  --bg-color: #fff;
  --bg-color-2: #e6e6e6;
  --bg-color-edit: #ffffffe9;
  --box-shadow-color: #1d1d1d17;
  --button-pending: #cb0e00;
  --button-pending-2: #ff1e1e;
  --button-done: #64ee07;
  --button-done-2: #64ee07;
  --button-progress: #ff6d1e;
  --button-progress-2: #ff871e;
  --card-color: #edededf5;
  --card-color-2: #e4e2e2;
  --color-highlight: #f58220;
  --main-home-color: #7d8aab;
  --input-text-color: #383838;
  --input-color: #f0f0f0;
  --popup-color: #fff;
  --popup-color-2: #fff;
  --text-color: #494949;
  --text-color-2: #464646;
  --text-color-highlight: #f58220;
  --text-color-blue: #43b6ff;
  --text-button-color: #e6e6e6;
}

* {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

/* bloquear seleção de texto para os itens com esta classe */
.block-select {
  user-select: none;
}
