@import url("https://fonts.google.com/icons?selected=Material%20Icons%20Round%3Aadd%3A");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap") ;

:root {
  --bg-color: #282828;
  --bg-color-2: #1c1c1c;
  --card-color: #a2a2a2;
  --card-color-2: #9b9b9b;
  --text-color: #e6e6e6;
  --text-color-2: #f2f2f2;
  --color-highlight: #f2f2f2;
  --input-color: #dddddd;
  --text-color-highlight: #ff6a00d2;
  --text-color-blue: #43b6ff;
}

.light-theme {
  --bg-color: #e6e6e6;
  --bg-color-2: #d6d6d6;
  --card-color: #f7f7f7;
  --card-color-2: #f3f3f3;
  --text-color: #494949;
  --text-color-2: #464646;
  --color-highlight: #181818;
  --input-color: #aeaeae;
  --text-color-highlight: #ff6a00d2;
  --text-color-blue: #43b6ff;
}

* {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}
