@import url("https://fonts.google.com/icons?selected=Material%20Icons%20Round%3Aadd%3A");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap") ;

:root {
  --bg-color: #121212;
  --bg-color-2: #ffffff08;
  --box-shadow-color: #00000024;
  --card-color: #232323;
  --card-color-2: #272727;
  --text-color: #e6e6e6;
  --text-color-2: #e6e6e6;
  --color-highlight: #f2f2f2;
  --input-color: #dedcdc;
  --text-color-highlight: #f58220;
  --text-color-blue: #43b7ffbd;
}

.light-theme {
  --bg-color: #f6f9ff;
  --bg-color-2: #ffffffb6;
  --card-color: #ffffff80;
  --card-color-2: #ffffffe7;
  --text-color: #494949;
  --text-color-2: #464646;
  --color-highlight: #181818;
  --input-color: #e0e0e0;
  --text-color-highlight: #f58220;
  --text-color-blue: #43b6ff;
}

* {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}
