.main-header-content {
  background-color: var(--bg-color-2);
  box-shadow: 0 0 10px 0 var(--box-shadow-color);
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 10vh;
  margin-bottom: 1.2em;
  transition: 0.2s;
}

.logo-header-content {
  display: flex;
}

.logo {
  font-weight: 1000;
  height: 8vh;
  margin-left: 1vw;
  text-align: center;
}

.switch-theme {
  filter: invert(29%) sepia(0%) saturate(0%) hue-rotate(212deg) brightness(93%) contrast(92%);
  align-self: center;
}

.text-header-content {
  display: flex;
  margin-right: 2em;
}

.text-header {
  color: var(--text-color);
  margin-right: 5px;
}

.text-header-name {
  color: var(--text-color);
}

.anim {
  animation: switch-theme-animation 0.4s ease-in;
  transition: 0.2s;
}

.exit-button button {
  background: none;
  color: var(--text-color);
  margin-right: 1em;
  padding: 1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .logo-header-content img {
    margin-left: 5vw;
    size: 12vw;
  }

  .text-header-content {
    display: flex;
    margin-right: 2em;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .logo-header-content img {
    margin-left: 5vw;
    size: 10vw;
  }

  .text-header-content {
    display: flex;
    margin-right: 2em;
  }
}

@media screen and (min-width: 1000px) {
  .main-header-content {
    margin-bottom: 2em;
  }

  .logo-header-content img {
    margin-left: 2vw;
    size: 12vw;
  }

  .text-header-content {
    display: flex;
    margin-right: 2em;
  }
}

@keyframes switch-theme-animation {
  0% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}
