.main-taskList-Page {
  background-color: #7d8aab;
  min-height: 55vw;
  max-width: 100vw;
}

.create-task-box {
  padding: 1em;
}

.create-task-box button {
  background-color: #8a8a8a;
  border: none;
  border-radius: 0 10px 10px 0px;
  color: azure;
  font-weight: 700;
  padding: 0.9em;
  transition: 0.2s;
}

.create-task-box button:hover {
  background-color: #979797;
  border: none;
  border-radius: 0 10px 10px 0px;
  color: azure;
  font-weight: 700;
  padding: 0.9em;
  transition: 0.2s;
}

.create-task-input input[type="text"] {
  background-color: #ffffff6e;
  border: none;
  color: rgba(0, 0, 0, 0.623);
  outline: 0;
  transition: 0.2s;
  text-indent: 1.5em;
}

.create-task-input input[type="text"]:hover {
  background-color: #fffaefa1;
  outline: 0;
  transition: 0.2s;
}
