.main-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.task-title-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 1em;
}

.title-status {
  margin-right: 7%;
}

.main-tasks-box {
  width: 100%;
}

.task-box-content {
  align-items: center;
  background-color: rgb(19 19 19 / 13%);
  display: flex;
  justify-content: space-evenly;
  margin: 1em;
  padding: 1em;
  height: 100%;
}

.task-content-box-static {
  align-items: center;
  background-color: #a6a6a6;
  border-radius: 10px;
  display: flex;
  min-height: 5em;
  justify-content: space-evenly;
  width: 70%;
  margin: 0.5em;
}

.task-section-content {
  padding: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
}

.task-section-date {
  padding: 0.8em;
}

.task-buttons-box {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

.task-button {
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-weight: 400;
  min-height: 3em;
  text-decoration: none;
  padding: 0.8em;
  width: 40%;
}

.task-button.delete {
  border: solid 1px rgb(0 17 255);
}

.task-status-button {
  border-radius: 10px;
  min-height: 3em;
  width: 40%;
  padding: 0.8em;
  text-align: center;
}

.progress {
  background-color: rgb(241 218 7 / 70.5%);
}

.done {
  background-color: rgb(81 241 7 / 68.5%);
}

.pending {
  background-color: rgb(245 58 58 / 75.3%);
}
