:root {
  --bg-color: #282828;
  --card-color: #3d3d3d;
  --card-color-dark: #333;
  --card-color-bright: #fefefe;
  --card-color-highlight-dark: #e5e5e5e5;
  --card-color-highlight-bright: #e5e5e5e5;
  --text-color-highlight: #ff6a00d2;
  --text-color-blue: #43b6ff;
  --text-color-orange: #f58220;
}

@media screen and (max-width: 500px) {
  .task-content-card {
    animation: growing 1s ease 0s 1 normal forwards;
    background: linear-gradient(195deg, var(--card-color) 30%, var(--card-color-dark) 80%, var(--card-color) 98%);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 45vw;
    margin: auto;
    margin-top: 1em;
    width: 90vw;
  }

  .left-side-content-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    justify-content: space-between;
    width: 65%;
  }

  .task-content-text {
    color: var(--card-color-bright);
    flex-grow: 1;
    margin-top: 1em;
    overflow-wrap: break-word;
    padding: 1em;
    width: 100%;
  }

  .task-content-date {
    align-self: flex-start;
    color: var(--text-color-blue);
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 1em;
    text-indent: 1em;
  }

  .right-content-text {
    align-items: center;
    display: flex;
    font-size: 0.7em;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
  }

  .right-content-text::before {
    content: "";
    background-color: var(--card-color-highlight-bright);
    filter: blur(0.7px);
    height: 70%;
    position: absolute;
    left: -3vw;
    opacity: 0.4;
    width: 1px;
  }

  .task-status-button {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-grow: 0.3;
    font-size: 3vw;
    justify-content: center;
    margin-right: 2vw;
    width: 30vw;
  }

  .task-delete-button {
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(195deg, #e82222 30%, #d35148 80%, #d34d4d 98%);
    color: white;
    display: flex;
    flex-grow: 0.3;
    font-size: 3vw;
    justify-content: center;
    margin-right: 2vw;
    transition: 0.2s;
    text-align: center;
    width: 30vw;
  }
}

.progress {
  background: linear-gradient(80deg, #f3f303, #f3eb03, #fcd600);
  text-shadow: -1px 2px 14px #282828;
  transition: 1s;
}

.done {
  color: white;
  background: linear-gradient(80deg, #64ee07, #44ee06, #21990e);
  text-shadow: -1px 2px 14px #282828;
  transition: 1s;
}

.pending {
  background: linear-gradient(80deg, #ff7f1e, #ff6f00, #dc6002);
  color: var(--text-color-highlight-bright);
  text-shadow: 1px 2px 4px #282828;
  transition: 1s;
}

@keyframes growing {
  0% {
    box-shadow: 0;
    transform: scale(0.9);
  }

  100% {
    box-shadow: 0 0 20px #0c0c0cc4;
    transform: scale(1);
  }
}
